@using EntityLayer.Concrete
@model List<Message>

@{
    ViewBag.Title = "Spam Mesajlar";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Spam Mesajlar</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SenderMail</td>
                <td>@item.Subject</td>
                <td>@(((DateTime)item.MessageDate).ToString("dd MMM yyyy HH:mm"))</td>
                <td>
                    <a href="/WriterPanelMessage/GetInboxMessageDetails/@item.MessageID" class="btn btn-info btn-sm">Görüntüle</a>
                    <a href="/WriterPanelMessage/MoveToTrash/@item.MessageID" class="btn btn-danger btn-sm">Çöp Kutusuna Taşı</a>
                </td>
            </tr>
        }
    </tbody>
</table>
