
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p> Profilim</p>
<p> Tüm Başlıklarda Pagging</p>
<p> Mesajlarda Session</p>
<p> Oturum Yönetiminin Mimariye taşınması</p>
<p> Token Kullanımı</p>

